# Exercícios

## 1) Considerando o código abaixo, faça:
    -> Crie um df a partir de data cujo index seja labels. Faça os imports necessários
    -> Preencha os valores faltantes com a média dos valores
    -> Retorne uma lista dos animais únicos
    -> Compute as estatísticas básicas (contagem, soma, média, desvio padrão e variância)

In [78]:
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [79]:
# resposta 1
from pandas import DataFrame, Series
df = DataFrame(data, index=labels)
df = df.fillna(df.mean())
print(Series(df['animal']).unique())
df.describe()

['cat' 'snake' 'dog']

             age     visits
count  10.000000  10.000000
mean    3.437500   1.900000
std     1.770711   0.875595
min     0.500000   1.000000
25%     2.625000   1.000000
50%     3.218750   2.000000
75%     4.234375   2.750000
max     7.000000   3.000000

## 2) Considerando o mesmo código, faça:
    -> Crie uma função que multiplique o número de visitas por 2. Retorne o data frame completo com valores atualizados
    -> Crie uma função que insere uma coluna que contenha um ranking dos animais mais visitados. Retorne o dataframe ordenado de forma descendente
    -> Verifique se os animais da seguinte lista pertencem aos dados originais: New_animals = [‘cow’,’horse’,shark’]

In [80]:
# resposta 2
f = lambda x: x * 2
df['visits'] = df['visits'].apply(f)
df['rank'] = df['visits'].rank(ascending=0)
print(df.sort_values('rank'))
print(df['animal'].isin(['cow','horse','shark']))

  animal     age  visits priority  rank
b    cat  3.0000       6      yes   2.0
d    dog  3.4375       6      yes   2.0
f    cat  2.0000       6       no   2.0
c  snake  0.5000       4       no   5.0
e    dog  5.0000       4       no   5.0
i    dog  7.0000       4       no   5.0
a    cat  2.5000       2      yes   8.5
g  snake  4.5000       2       no   8.5
h    cat  3.4375       2      yes   8.5
j    dog  3.0000       2       no   8.5
a    False
b    False
c    False
d    False
e    False
f    False
g    False
h    False
i    False
j    False
Name: animal, dtype: bool

## 3) Crie uma função que filtre as linhas do df no código abaixo de acordo com a palavra-chave passada como parâmetro (apenas estado):

In [58]:
df = DataFrame({'DateofBirth':['1986-11-11','1999-05-12','1976-01-01',
                                  '1986-06-01','1983-06-04','1990-03-07',
                                  '1999-07-09'],
                   'State':['NY','TX','FL','AL','AK','TX','TX']},
                 index=['Jane','Nick','Aaron','Penelope','Dean',
                        'Christina','Cornelia'])
print(df)

          DateofBirth State
Jane       1986-11-11    NY
Nick       1999-05-12    TX
Aaron      1976-01-01    FL
Penelope   1986-06-01    AL
Dean       1983-06-04    AK
Christina  1990-03-07    TX
Cornelia   1999-07-09    TX

In [65]:
def my_filter(df, keyword):
    print(df[df['State']==keyword])
my_filter(df, 'TX')

          DateofBirth State
Nick       1999-05-12    TX
Christina  1990-03-07    TX
Cornelia   1999-07-09    TX