In [1]:
import pandas as pd
import numpy as np

## Leitura do arquivo

In [2]:
data = pd.read_csv('breast_cancer_data.csv',sep=',')
data.head()

   1000025  5.0   1.0   1  1.1  2 1.2  3.0  1.0.1  1.3     benign    Dr. Doe
0  1002945  5.0   4.0   4    5  7  10  3.0    2.0    1     benign  Dr. Smith
1  1015425  3.0   1.0   1    1  2   2  3.0    1.0    1     benign    Dr. Lee
2  1016277  6.0   8.0   8    1  3   4  3.0    7.0    1     benign  Dr. Smith
3  1017023  4.0   1.0   1    3  2   1  3.0    1.0    1     benign   Dr. Wong
4  1017122  8.0  10.0  10    8  7  10  9.0    7.0    1  malignant  Dr. Smith

In [3]:
# para visualizar o formato do dataframe: linhas x colunas
print('formato: ', data.shape, '\n')

formato:  (698, 12)

### não temos nome de coluna, então precisamos fornecer esses nomes e passar como parâmetro na função read_csv

In [4]:
colunas = ['id','clump_thickness','cell_size_uniformity','cell_shape_uniformity','marginal_adhesion','single_ep_cell_size',
          'bare_nuclei','bland_chromatin','normal_nucleoli','mitoses','class','doctor_name']

data = pd.read_csv('breast_cancer_data.csv',names=colunas)
data.head()

,id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong

In [5]:
print("Quantidade de colunas: ",len(colunas),'\n')

# imprime o nome das colunas
data.columns

Quantidade de colunas:  12

Index(['id', 'clump_thickness', 'cell_size_uniformity',
       'cell_shape_uniformity', 'marginal_adhesion', 'single_ep_cell_size',
       'bare_nuclei', 'bland_chromatin', 'normal_nucleoli', 'mitoses', 'class',
       'doctor_name'],
      dtype='object')

### vamos entender nossos dados

In [6]:
data.dtypes

id                         int64
clump_thickness          float64
cell_size_uniformity     float64
cell_shape_uniformity      int64
marginal_adhesion          int64
single_ep_cell_size        int64
bare_nuclei               object
bland_chromatin          float64
normal_nucleoli          float64
mitoses                    int64
class                     object
doctor_name               object
dtype: object

É possível verificar todos os tipos de dados presente no dataset em formato de lista de itens únicos.

In [7]:
list(set(data.dtypes.tolist()))

[dtype('float64'), dtype('O'), dtype('int64')]

para manter apenas colunas de tipos específicos no dataset, use: data.select_dtypes(include = ['float64', 'int64'])
isto é particularmente útil quando deseja-se imprimir gráficos de distribuição sobre os dados, correlação e outras operações envolvendo 
tipos específicos.

Vamos verificar a correlação entre variáveis de tipos numéricos

In [8]:
data_num = data.select_dtypes(include = ['float64', 'int64'])
data_num = data_num.corr()['clump_thickness'][2:] # para tirar a variável clump_thickness
data_num = data_num[abs(data_num) > 0.5].sort_values(ascending=False) #filra valores de correlaçao < 0.5 e ordena os valores
print("Existem {} variáveis correlacionadas com clump_thickness:\n{}".format(len(data_num), data_num))

Existem 5 variáveis correlacionadas com clump_thickness:
cell_shape_uniformity    0.654632
cell_size_uniformity     0.644636
bland_chromatin          0.558924
normal_nucleoli          0.535773
single_ep_cell_size      0.522108
Name: clump_thickness, dtype: float64

É importante observar que podem existir outliers nos dados (vamos descobrir como encontra-los e trata-los na próxima aula) e isso pode afetar
a correlação.

In [9]:
data.describe()

,id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bland_chromatin,normal_nucleoli,mitoses
count,6.990000e+02,698.000000,698.000000,699.000000,699.000000,699.000000,695.000000,698.000000,699.000000
mean,1.071704e+06,4.416905,3.137536,3.207439,2.793991,3.216023,3.447482,2.868195,1.589413
std,6.170957e+05,2.817673,3.052575,2.971913,2.843163,2.214300,2.441191,3.055647,1.715078
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,3.500000,4.000000,5.000000,4.000000,1.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 12 columns):
id                       699 non-null int64
clump_thickness          698 non-null float64
cell_size_uniformity     698 non-null float64
cell_shape_uniformity    699 non-null int64
marginal_adhesion        699 non-null int64
single_ep_cell_size      699 non-null int64
bare_nuclei              697 non-null object
bland_chromatin          695 non-null float64
normal_nucleoli          698 non-null float64
mitoses                  699 non-null int64
class                    699 non-null object
doctor_name              699 non-null object
dtypes: float64(4), int64(5), object(3)
memory usage: 65.7+ KB

com valores categóricos, podemos agrupar

In [11]:
data.groupby(by =['class','doctor_name']).size()

class      doctor_name
benign     Dr. Doe        127
           Dr. Lee        121
           Dr. Smith      102
           Dr. Wong       108
malignant  Dr. Doe         58
           Dr. Lee         60
           Dr. Smith       74
           Dr. Wong        49
dtype: int64

Além disso, para dados categóricos, podemos conta a quantidade presente em cada categoria.

In [12]:
print(data['class'].value_counts(),'\n')
# data['doctor_name'].value_counts() para médicos

# se quisermos os valores normalizados, precisamos adicionar um parâmetro
print('Dados normalizados: \n',data['class'].value_counts(normalize=True))

benign       458
malignant    241
Name: class, dtype: int64

Dados normalizados:
 benign       0.655222
malignant    0.344778
Name: class, dtype: float64

Podemos ordenar os valores de um dataframe a partir de uma ou mais colunas, definindo se será(ão) ascendente(s) e/ou descente(s)

In [13]:
# ordenando apenas por uma coluna
data.sort_values(by='cell_size_uniformity',ascending=False).tail()

,id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
313,693702,1.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
311,688033,1.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Wong
310,684955,2.0,1.0,1,1,3,1,2.0,1.0,1,benign,Dr. Lee
350,836433,5.0,1.0,1,3,2,1,1.0,1.0,1,benign,Dr. Wong
6,1018099,1.0,NaN,1,1,2,10,3.0,1.0,1,benign,Dr. Doe

In [14]:
# ordenando por múltiplas colunas
data.sort_values(by=['cell_size_uniformity','bare_nuclei'],ascending=[False,True]).head()

,id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
36,1080185,10.0,10.0,10,8,6,1,8.0,9.0,1,malignant,Dr. Doe
44,1103608,10.0,10.0,10,4,8,1,8.0,10.0,1,malignant,Dr. Doe
104,1168736,10.0,10.0,10,10,10,1,8.0,8.0,8,malignant,Dr. Wong
177,1201936,5.0,10.0,10,3,8,1,5.0,10.0,3,malignant,Dr. Lee
436,1295186,10.0,10.0,10,1,6,1,2.0,8.0,1,malignant,Dr. Doe

Podemos aplicar alguns métodos (soma, média, std, ...) numa coluna específica

In [15]:
# média
data.clump_thickness.mean()

4.416905444126074

Assim, podemos responder questões como: qual o tamanho médio das células para cada tipo de tumor?

In [16]:
# benigno
print('Tamanho - benigno: ',data[data['class']=='benign']['cell_size_uniformity'].mean(),'\n')
print('Tamanho - maligno: ',data[data['class']=='malignant']['cell_size_uniformity'].mean(),'\n')

Tamanho - benigno:  1.3260393873085339

Tamanho - maligno:  6.572614107883817

Podemos, também, responder questões que envolvem operações lógicas. Exemplo: qual o número máximo de mitoses em tumores benignos encontraddos pelo Dr. Wong?

In [17]:
data[(data['class']=='malignant') & (data['doctor_name']=='Dr. Wong')]['mitoses'].max()

10

É possível delimitar quais colunas e linhas queremos analisar.

In [18]:
# Analisando as 10 primeiras linhas das colunas 2 a 5
data.loc[0:9,'cell_size_uniformity':'single_ep_cell_size']
#data.iloc[0:9,2:6] # usando iloc, podemos passar apenas os índices

,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size
0,1.0,1,1,2
1,4.0,4,5,7
2,1.0,1,1,2
3,8.0,8,1,3
4,1.0,1,3,2
5,10.0,10,8,7
6,NaN,1,1,2
7,1.0,2,1,2
8,1.0,1,1,2
9,2.0,1,1,2

In [19]:
# acessando a última linha do dataframe
data[-1:]

,id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,malignant,Dr. Wong

### Lidando com valores faltantes

In [20]:
data.isna().sum()

id                       0
clump_thickness          1
cell_size_uniformity     1
cell_shape_uniformity    0
marginal_adhesion        0
single_ep_cell_size      0
bare_nuclei              2
bland_chromatin          4
normal_nucleoli          1
mitoses                  0
class                    0
doctor_name              0
dtype: int64

In [21]:
data = data.dropna(axis = 0, how = 'any')
len(data)

690

### Lidando com valores duplicados

In [22]:
data[data.duplicated()]

,id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
258,1198641,3.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Lee

In [23]:
data = data.drop_duplicates()

In [24]:
data[data.duplicated()]

Empty DataFrame
Columns: [id, clump_thickness, cell_size_uniformity, cell_shape_uniformity, marginal_adhesion, single_ep_cell_size, bare_nuclei, bland_chromatin, normal_nucleoli, mitoses, class, doctor_name]
Index: []

## Aplicando funções

com apply, fica fácil aplicar funções em todo o data frame.

In [25]:
# encontrando o valor máximo em cada coluna
data.apply(np.max)

id                        13454352
clump_thickness                 10
cell_size_uniformity            10
cell_shape_uniformity           10
marginal_adhesion               10
single_ep_cell_size             10
bare_nuclei                      ?
bland_chromatin                 10
normal_nucleoli                 10
mitoses                         10
class                    malignant
doctor_name               Dr. Wong
dtype: object

Isso nos mostrou que existem valores inconsistentes na coluna bare_nuclei, como podemos confirmar a seguir:

In [26]:
data['bare_nuclei'].unique()

array(['1', '10', '2', '4', '3', '9', '7', '?', '5', '8', '6'],
      dtype=object)

Assim, precisamos tratar essa coluna de maneira apropriada

In [27]:
data['bare_nuclei'] = data['bare_nuclei'].replace('?','6').astype('int64')

In [28]:
#executando de novo para testar
data.apply(np.max)

id                        13454352
clump_thickness                 10
cell_size_uniformity            10
cell_shape_uniformity           10
marginal_adhesion               10
single_ep_cell_size             10
bare_nuclei                     10
bland_chromatin                 10
normal_nucleoli                 10
mitoses                         10
class                    malignant
doctor_name               Dr. Wong
dtype: object

### Funções de agregação

Podemos agrupar os dados usando groupby e depois aplicar funções de agregação para entendermos os dados a partir dessas funções.

In [29]:
colunas = ['cell_size_uniformity','cell_shape_uniformity','mitoses']
data.groupby(['class'])[colunas].agg([np.mean, np.min, np.max])

          cell_size_uniformity            cell_shape_uniformity            \
                          mean amin  amax                  mean amin amax
class
benign                1.330377  1.0   9.0              1.450111    1    8
malignant             6.605042  1.0  10.0              6.592437    1   10

            mitoses
               mean amin amax
class
benign     1.064302    1    8
malignant  2.592437    1   10

### Filtrando dados

In [30]:
repeat_patients = data.groupby(by = 'id').size().sort_values(ascending =False)
repeat_patients

id
1182404    6
1276091    5
1100524    2
1293439    2
654546     2
          ..
1213273    1
1212251    1
1212232    1
1211594    1
61634      1
Length: 637, dtype: int64

In [31]:
filtered_patients = repeat_patients[repeat_patients > 2].to_frame().reset_index()
filtered_data = data[~data.id.isin(filtered_patients.id)]

In [32]:
filtered_data

,id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong
...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,benign,Dr. Lee
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,malignant,Dr. Lee
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,malignant,Dr. Lee
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,malignant,Dr. Wong